:root {
    --purple:#4500AD;
    --darkpurple:#560069;
    --gold:#F09622;


}



main{
  width:100%;
  padding:50px;
  box-sizing:border-box;
  width: 100%;
  min-width: initial;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

header{
    background-color:var(--purple);
    padding:50px;
}

h1{
  color:#fff;
  font-size: 24px;
  font-family: sans-serif;
  margin-bottom:20px;
  text-align: center;

}

.buttons button, button{
   background-color: var(--purple);
   color:#fff;
   padding:15px 30px;
   font-family: sans-serif;
   text-transform: uppercase;
   border:0px;
align-content: center;
   margin:30px auto;


}